#certificacoes{
  position: absolute;
  top: 50px;
}
.page-certificacoes{
  position: relative;
  padding-top: 7%;
}
.titulo-certificacoes{
  text-align: center;
  padding-bottom:7%;
  user-select: none; 
}

.certificado {
  list-style: none;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  user-select: none; 
}

.certificado:last-child{
  margin-bottom: 0px;
}

.certificado img{
  width: 100%;
  transition: 0.3s;
  user-select: none; 
}

.certificado img:hover{
  transform: scale(1.04);
  
}

@media only screen and (max-width: 750px) {
  #certificacoes{
      position: absolute;
      top: -50px;
  }

}