#contato {
  position: absolute;
  top: 50px;
}

.page-contato {
  position: relative;
  padding-top: 7%;
  padding-bottom: 7%;
}

span {
  font-size: 14px;
  margin-left: 3px;
}

input,
.input-texto {
  border: 1px solid #404040;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}

input[type='text'],
input[type='email'],
.input-texto {
  padding: 10px;
  font-size: 18px;
  color: #000;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
}
.input-texto {
  width: 100%;
  height: 200px;
  resize: none;
}

.titulo-contato {
  text-align: center;
  padding-bottom: 7%;
  user-select: none;
  width: 100%;
}

.titulo-cont {
  font-size: 30px;
  text-align: center;
  padding-bottom: 7%;
  user-select: none;
  width: 100%;
}
.orcamento {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.meios-contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
  width: 100%;
}

.mapa {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.botao-enviar {
  margin-top: 2%;
  padding: 20px 30px;
  background-color: #32323c;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  font-size: 18px;
}

.form-erro,
.form-sucesso {
  text-align: center;
}

.dados {
  margin-top: 40px;
  margin-left: 30px;
  width: 100%;
}

.dados b {
  margin-top: 20px;
}

.info h3 {
  margin-bottom: 10px;
  border-bottom: 1px solid #404040;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.info h3 {
  align-items: flex-start;
  width: 300px;
}

.info a {
  text-decoration: none;
}

.info span {
  font-size: 18px;
}

.botao-link {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 5px;
}

.botao-link b {
  position: relative;
  top: -5px;
}

.dado {
  margin-top: 10px;
}

.botao-whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .meios-contato {
    grid-template-columns: 1fr;
    box-sizing: border-box;
  }

  .mapa {
    width: 100%;
    height: 300px;
  }

  .formulario {
    margin-top: 3%;
  }

  #contato {
    position: absolute;
    top: -50px;
  }

  .dados {
    margin-top: 40px;
    margin-left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .botao-whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 90%;
  }
}
