

/*----------------------------------Section titulo Home ----------------*/

section.titulo {
  margin-top: 86px;
  height: 395px;
  background-image: url(/assets/imagem-titulo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.titulo h1 {
  border: 10px solid #000;
  padding: 0px 5px;
  text-align: center;
}
/*-----------------------------------Texto page home-------------------------*/

.conteudo-home {
  margin-bottom: 7%;
}

.conteudo-home h2 {
  text-align: center;
  font-weight: 500;
  padding-top: 100px;
  padding-bottom: 100px;
}

.conteudo-home p {
  margin-bottom: 5%;
  line-height: 22px;
}

.conteudo-home .chamado-servicos a {
  background-color: #060606;
  height: 60px;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 12px 24px;
  color: white;
  transition: 0.5s;
  font-size: 18px;
}

.conteudo-home .chamado-servicos a:hover {
  background-color: #181818;
  
}

.conteudo-home .chamado-servicos a:link {
  text-decoration: none;
}


/*----------------------------rodapé----------------*/

footer {
  background-color: rgba(0,0,0,0.86);
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

footer h1 {
  font-size: 26px;
  color: white;
  letter-spacing: 1px;
}

footer i {
  color: white;
  transition: 0.2s;
  margin: 0 5px;
}

footer i:hover {
  color: rgb(179, 176, 176);
}

/*---------------------responsive---------------------*/

@media only screen and (max-width: 750px) {
  
  /*------------------Titulo-----------*/

  section.titulo {
    height: 190px;
  }

}

@media only screen and (max-width: 1000px) {
  nav {
    height: 70px;
  }
  nav .botao-menu-responsivo {
    display: flex;
    cursor: pointer;
    user-select: none; 
  }
  

  nav .menu {
    display: none;
    flex-direction: column;
    color: white; 
    align-items: center;
    list-style: none;
    justify-content: space-evenly;  
    position: absolute;
    background-color: black;
    width: 100%;
    top: 65px;
    height: 40vh;    
  }

  nav .mostrar {
    display: flex;
  }

  .scrolar {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
  }

  .menu .item  {
    padding: 10px 20px;
    border-top: 1px solid #606060;
    width: 100%;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .item p {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
  }
}













