
#servicos{
    position: absolute;
    top: -90px;
}
.page-servicos{
    position: relative;
    padding-top: 20px;
    
}
.titulo-servicos{
    text-align: center;
    padding-bottom:7%;
}

.lista-servicos{
    
    margin-left: 20px;
}

.lista-servicos p {
    margin-top: 5px;
}

.item-servico{
    margin-top: 20px;
}


@media only screen and (max-width: 750px) {
    #servicos{
        position: absolute;
        top: -60px;
    }

}
